* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    background-color: black;
    height: 100vh;
}

.main-top {
    display: flex;
    height: calc(100% - 100px);
}

.main-top .card-section {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    overflow-y: auto;
}

.main-top .card-section .card {
 width: calc(100% / 7 - 5px);
 max-height: calc(100% / 5 - 10px);
 position: relative;
 margin-top: 5px;
 min-width: 204px;
 min-height: 125px;
}

.main-top .card-section .card img {
    width: 100%;
    height: 100%;
}

.main-top .card-section i {
    color: rgba(255, 255, 255, 0.822);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.719);
    padding: 5px;
    font-size: 15px;
}

.main-top .card-section i span {
    font-size: 10px;
}

.main-bottom {
    display: flex;
    background-color: #212121;
    width: 100%;
    height: 100px;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-bottom .record-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main-bottom .icon {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 10px;
}

.main-bottom .icon:hover {
    cursor: pointer;
}

.main-bottom .record-info .icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.icon span {
    font-size: 15px;
}

.main-bottom .middle-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-bottom .middle-info .icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.main-bottom .right-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 100px;
    background-color: grey;
    cursor: pointer;
}

.main-bottom .right-bottom:hover {
    color: red;
}

.share {
    color:green;
}

